* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body {
    background-color: #FAFAFA;
}

.wrapper {
    width: 90%;
    font-size: 16px;
    max-width: 43.75em;
    margin: 1em auto;
}

.container {
    width: 100%;
}

.sub-con {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3em;
}

.flex {
    display: flex;
    align-items: center;
}

.flex-space {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapper h3 {
    color: #000000;
    font-weight: 500;
    margin-bottom: 0.6em;
}

.container input {
    display: block;
    width: 100%;
    padding: 0.6em 0.3em;
    border: 1px solid #D0D0D0;
    border-radius: 0.3em;
    color: #414A67;
    outline: none;
    font-weight: 400;
    margin-bottom: 0.6em;
    box-sizing: border-box;
}

.container input:focus {
    border-color: #A63446;
}

.total-amount,
.user-amount {
    background-color: #FFFFFF;
    padding: 1.25em 0.9em;
    border-radius: 0.3em;
    box-shadow: 0 0.6em 1.2em rgba(28, 0, 80, 0.06);
}

.result-con {
    background-color: #A63446;
    color: #FFFFFF;
    border-radius: 0.3em;
    box-shadow: 0 0.6em 1.2em rgba(28, 0, 80, 0.06);
    padding: 1.2em;
    margin: 2em 0;
}

.result-con p {
    font-weight: 500;
    margin-bottom: 0.6em;
}

.result-con span {
    display: block;
    text-align: center;
    font-weight: 400;
    color: #FAFAFA;
}

.submit {
    font-size: 1em;
    margin-top: 0.8em;
    background-color: #A63446;
    padding: 0.6em 1.2em;
    border: none;
    color: #FFFFFF;
    outline: none;
    border-radius: 0.3em;
    cursor: pointer;
}

.list {
    background-color: #FFFFFF;
    padding: 1.8em 1.2em;
    box-shadow: 0 0.6em 1.2em rgba(28, 0, 80, 0.06);
    border-radius: 0.6em;
}

.sublist-content {
    width: 100%;
    border-left: 0.3em solid #A63446;
    margin-bottom: 0.6em;
    padding: 0.5em 0;
}

.product {
    font-weight: 500;
    margin-left: 1.5em;
    color: #414A67;
}

.amount {
    color: #414A67;
    margin: 0 20%;
}

.icons-container {
    width: 5em;
    margin: 1.2em;
    align-items: center;
}

.edit {
    margin-left: auto;
}

.edit,
.delete {
    background: transparent;
    cursor: pointer;
    margin-right: 1.5em;
    border: none;
    color: #A63446;
}

.error {
    color: #f84a00;
}

.hide { 
    display: none;
}

.user-amount .product,
.user-amount .price {
    width: calc(100% - 1.2em);
    margin: 0 auto;
}

@media screen and (max-width: 600px) {
    .wrapper {
        font-size: 14px;
    }

    .sub-con {
        grid-template-columns: 1fr;
        gap: 1em;
    }
}