@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Noto Serif", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header {
    background-color: white;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}

.logo {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}

.navi a {
    text-decoration: none;
    color: black;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
}

.navi a:hover {
    color: #FA4EAB;
}

section {
    padding: 100px 200px;
}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(images/back.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
}

.main h2 {
    color: whitesmoke;
    font-size: 1.6em;
    font-weight: 500;
}

.main h2 span {
    display: inline-block;
    margin-top: 10px;
    color: #FA4EAB;
    font-size: 2.5em;
    font-weight: 600;
}

.main h3 {
    color: whitesmoke;
    font-size: 2em;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 30px;
}

.main-btn {
    color: whitesmoke;
    background-color: #FA4EAB;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    border-radius: 15px;
    letter-spacing: 1px;
    margin-bottom: 40px;
    transition: 0.5s ease;
}

.main-btn:hover {
    background-color: #fa4eaae1;
    transform: scale(1.1);
}

.social a {
    color: whitesmoke;
    font-size: 1.7em;
    padding: 20px;
}

.container {
    max-width: 1100px;
    margin: auto;
    padding: 0 2rem;
    border-radius: 15px;
}

#skills h2,
#projects h2,
#resume h2 {
    color: black;
    text-align: center;
    font-size: 38px;
    font-weight: 600;
    letter-spacing: 1px;
}

#skills .content {
    margin-top: 2rem;
    background-color: black;
    border-radius: 15px;
}

#skills .content .row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    text-align: center;
}

#skills .content .row .item {
    background-color: #040D12;
    margin: 20px;
    padding: 1rem;
    border-radius: 10px;
    transition: all 0.5s ease;
}

#skills .content .row .item:hover {
    box-shadow: 0 4px 8px rgba(64, 64, 64, 0.961);
}

#skills .content .row .item i {
    color: #FA4EAB;
    font-size: 50px;
    margin-bottom: 10px;
}

#skills .content .row .item p {
    font-size: 18px;
    font-weight: 600;
    color: whitesmoke;
    margin-top: 10px;
}

#projects .content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.card{
    background-color: black;
    border: 1px solid black;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    margin: 20px;
    border-radius: 10px;
    transition: 0.5s ease;
}

.card:hover{
    transform: scale(1.1);
}

.card:hover .image {
    opacity: 0.95;
}

.image img{
    width: 100%;
}

.info{
    padding: 1em;
    color: white;
}

.cat{
    font-size: 0.8em;
}

.ptitle{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-weight: 800;
}

.view{
    text-decoration: none;
    color: #FA4EAB;
}

.view:hover {
    color: #fa4eaae1;
}

.cv{
    align-content: center;
}

.cv i{
    color: #FA4EAB;
    font-size: 1.5em;
}

.cv:hover i {
    color: #fa4eaae1;
}

#resume .content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}